In [20]:
import pandas as pd

# Cargar los tres archivos
delitos_sex = pd.read_csv("Reporte__Delitos_sexuales_Policía_Nacional_20251119.csv", sep=",", encoding="latin-1")

hurto = pd.read_csv("Reporte_Hurto_por_Modalidades_Policía_Nacional_20251119.csv", sep=",", encoding="latin-1")

violencia = pd.read_csv("Reporte_Delito_Violencia_Intrafamiliar_Policía_Nacional_20251119.csv", sep=",", encoding="latin-1")

# Mostrar forma y primeras filas
print("Delitos Sexuales:", delitos_sex.shape)
display(delitos_sex.head())

print("Hurto por Modalidades:", hurto.shape)
display(hurto.head())

print("Violencia Intrafamiliar:", violencia.shape)
display(violencia.head())

delitos_sex.info()
delitos_sex.info()
violencia.info()

Delitos Sexuales: (364908, 9)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD,delito
0,PUTUMAYO,Mocoa (CT),86001000,NO REPORTADO,04/02/2010,FEMENINO,NO REPORTADO,1,ARTÃCULO 210 A. ACOSO SEXUAL
1,CASANARE,Aguazul,85010000,NO REPORTADO,23/02/2010,FEMENINO,NO REPORTADO,1,ARTÃCULO 206. ACTO SEXUAL VIOLENTO
2,CASANARE,Aguazul,85010000,NO REPORTADO,11/02/2010,FEMENINO,NO REPORTADO,1,ARTÃCULO 206. ACTO SEXUAL VIOLENTO
3,TOLIMA,IbaguÃ© (CT),73001000,NO REPORTADO,07/10/2010,FEMENINO,NO REPORTADO,1,ARTÃCULO 209. ACTOS SEXUALES CON MENOR DE 14 ...
4,QUINDÃO,Armenia (CT),63001005,NO REPORTADO,30/05/2012,FEMENINO,NO REPORTADO,1,ARTÃCULO 209. ACTOS SEXUALES CON MENOR DE 14 ...

Hurto por Modalidades: (43419, 9)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,TIPO DE HURTO,CANTIDAD
0,GUAJIRA,La Jagua del Pilar,44420000,NO REPORTADO,28/04/2024,MASCULINO,ADULTOS,HURTO ABIGEATO,1
1,ANTIOQUIA,Andes,5034007,NO REPORTADO,18/02/2020,FEMENINO,NO REPORTADO,HURTO ABIGEATO,1
2,GUAJIRA,San Juan del Cesar,44650000,NO REPORTADO,02/05/2020,MASCULINO,NO REPORTADO,HURTO ABIGEATO,1
3,CUNDINAMARCA,FusagasugÃ¡,25290000,NO REPORTADO,05/04/2019,MASCULINO,NO REPORTADO,HURTO ABIGEATO,1
4,MAGDALENA,Aracataca,47053000,NO REPORTADO,07/08/2017,FEMENINO,NO REPORTADO,HURTO ABIGEATO,1

Violencia Intrafamiliar: (633712, 8)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD
0,SANTANDER,Ocamonte,68498000,CONTUNDENTES,25/10/2016,FEMENINO,ADULTOS,1
1,HUILA,Neiva (CT),41001001,CONTUNDENTES,25/10/2016,FEMENINO,ADULTOS,1
2,CUNDINAMARCA,Soacha,25754000,CONTUNDENTES,25/03/2015,FEMENINO,ADULTOS,1
3,BOYACÃ,Duitama,15238000,CONTUNDENTES,07/05/2015,FEMENINO,ADULTOS,4
4,BOYACÃ,Sogamoso,15759000,CONTUNDENTES,09/06/2015,FEMENINO,ADULTOS,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364908 entries, 0 to 364907
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DEPARTAMENTO  364908 non-null  object
 1   MUNICIPIO     364908 non-null  object
 2   CODIGO DANE   364908 non-null  int64
 3   ARMAS MEDIOS  364908 non-null  object
 4   FECHA HECHO   364908 non-null  object
 5   GENERO        364908 non-null  object
 6   GRUPO ETARIO  364908 non-null  object
 7   CANTIDAD      364908 non-null  int64
 8   delito        364908 non-null  object
dtypes: int64(2), object(7)
memory usage: 25.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364908 entries, 0 to 364907
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DEPARTAMENTO  364908 non-null  object
 1   MUNICIPIO     364908 non-null  object
 2   CODIGO DANE   364908 non-null  int64
 3   ARMAS MEDIOS  364908 non-null  object
 4   FECHA HECHO   364908 non-null  object
 5   GENERO        364908 non-null  object
 6   GRUPO ETARIO  364908 non-null  object
 7   CANTIDAD      364908 non-null  int64
 8   delito        364908 non-null  object
dtypes: int64(2), object(7)
memory usage: 25.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633712 entries, 0 to 633711
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DEPARTAMENTO  633712 non-null  object
 1   MUNICIPIO     633708 non-null  object
 2   CODIGO DANE   633712 non-null  int64
 3   ARMAS MEDIOS  633712 non-null  object
 4   FECHA HECHO   633712 non-null  object
 5   GENERO        631607 non-null  object
 6   GRUPO ETARIO  632957 non-null  object
 7   CANTIDAD      633712 non-null  int64
dtypes: int64(2), object(6)
memory usage: 38.7+ MB

In [2]:
print(delitos_sex.columns)
print(hurto.columns)
print(violencia.columns)

Index(['DEPARTAMENTO', 'MUNICIPIO', 'CODIGO DANE', 'ARMAS MEDIOS',
       'FECHA HECHO', 'GENERO', 'GRUPO ETARIO', 'CANTIDAD', 'delito'],
      dtype='object')
Index(['DEPARTAMENTO', 'MUNICIPIO', 'CODIGO DANE', 'ARMAS MEDIOS',
       'FECHA HECHO', 'GENERO', 'GRUPO ETARIO', 'TIPO DE HURTO', 'CANTIDAD'],
      dtype='object')
Index(['DEPARTAMENTO', 'MUNICIPIO', 'CODIGO DANE', 'ARMAS MEDIOS',
       'FECHA HECHO', 'GENERO', 'GRUPO ETARIO', 'CANTIDAD'],
      dtype='object')

## Limpieza y Normalización de los Datos

In [21]:
for name, df in [
    ("Delitos sexuales", delitos_sex),
    ("Hurto", hurto),
    ("Violencia intrafamiliar", violencia)
]:
    print(f"\n=== {name} ===")
    print(df[["DEPARTAMENTO", "MUNICIPIO", "FECHA HECHO"]].isna().sum())
    # 'delito' solo existe en delitos_sex
    if "delito" in df.columns:
        print("delito nulos:", df["delito"].isna().sum())

=== Delitos sexuales ===
DEPARTAMENTO    0
MUNICIPIO       0
FECHA HECHO     0
dtype: int64
delito nulos: 0

=== Hurto ===
DEPARTAMENTO    0
MUNICIPIO       0
FECHA HECHO     0
dtype: int64

=== Violencia intrafamiliar ===
DEPARTAMENTO    0
MUNICIPIO       4
FECHA HECHO     0
dtype: int64

In [27]:
import re

def normalizar_dep_mun(df):
    for col in ["DEPARTAMENTO", "MUNICIPIO"]:
        df[col] = (
            df[col]
            .astype(str)
            .str.strip()
            .str.upper()
            .str.replace(r"\s+\(CT\)$", "", regex=True)  # quita " (CT)" al final
        )
    return df

delitos_sex = normalizar_dep_mun(delitos_sex)
hurto       = normalizar_dep_mun(hurto)
violencia   = normalizar_dep_mun(violencia)

print(delitos_sex[["DEPARTAMENTO","MUNICIPIO"]].head())
print(delitos_sex["DEPARTAMENTO"].unique()[:20])
print(delitos_sex["MUNICIPIO"].unique()[:20])

  DEPARTAMENTO MUNICIPIO
0     PUTUMAYO     MOCOA
1     CASANARE   AGUAZUL
2     CASANARE   AGUAZUL
3       TOLIMA    IBAGUÉ
4      QUINDÍO   ARMENIA
['PUTUMAYO' 'CASANARE' 'TOLIMA' 'QUINDÍO' 'VALLE' 'BOYACÁ' 'SANTANDER'
 'CÓRDOBA' 'NARIÑO' 'RISARALDA' 'SAN ANDRÉS' 'BOLÍVAR' 'ANTIOQUIA'
 'CUNDINAMARCA' 'ATLÁNTICO' 'HUILA' 'META' 'GUAJIRA' 'CALDAS' 'CAUCA']
['MOCOA' 'AGUAZUL' 'IBAGUÉ' 'ARMENIA' 'YOTOCO' 'AQUITANIA' 'CIMITARRA'
 'CANDELARIA' 'CERETÉ' 'PASTO' 'CALI' 'SALENTO' 'PEREIRA' 'SAN ANDRÉS'
 'CARTAGENA' 'ITUANGO' 'GIRÓN' 'BUCARAMANGA' 'FUNZA' 'SOLEDAD']

In [28]:
print("=== Delitos sexuales ===")
print(delitos_sex["DEPARTAMENTO"].unique()[:20])
print(delitos_sex["MUNICIPIO"].unique()[:20])

print("\n=== Hurto ===")
print(hurto["DEPARTAMENTO"].unique()[:20])
print(hurto["MUNICIPIO"].unique()[:20])

print("\n=== Violencia intrafamiliar ===")
print(violencia["DEPARTAMENTO"].unique()[:20])
print(violencia["MUNICIPIO"].unique()[:20])

=== Delitos sexuales ===
['PUTUMAYO' 'CASANARE' 'TOLIMA' 'QUINDÍO' 'VALLE' 'BOYACÁ' 'SANTANDER'
 'CÓRDOBA' 'NARIÑO' 'RISARALDA' 'SAN ANDRÉS' 'BOLÍVAR' 'ANTIOQUIA'
 'CUNDINAMARCA' 'ATLÁNTICO' 'HUILA' 'META' 'GUAJIRA' 'CALDAS' 'CAUCA']
['MOCOA' 'AGUAZUL' 'IBAGUÉ' 'ARMENIA' 'YOTOCO' 'AQUITANIA' 'CIMITARRA'
 'CANDELARIA' 'CERETÉ' 'PASTO' 'CALI' 'SALENTO' 'PEREIRA' 'SAN ANDRÉS'
 'CARTAGENA' 'ITUANGO' 'GIRÓN' 'BUCARAMANGA' 'FUNZA' 'SOLEDAD']

=== Hurto ===
['GUAJIRA' 'ANTIOQUIA' 'CUNDINAMARCA' 'MAGDALENA' 'CESAR' 'META'
 'ATLÁNTICO' 'GUAVIARE' 'CASANARE' 'SUCRE' 'CÓRDOBA' 'RISARALDA' 'HUILA'
 'NORTE DE SANTANDER' 'VICHADA' 'CALDAS' 'CAQUETÁ' 'TOLIMA' 'BOYACÁ'
 'SANTANDER']
['LA JAGUA DEL PILAR' 'ANDES' 'SAN JUAN DEL CESAR' 'FUSAGASUGÁ'
 'ARACATACA' 'AGUSTÍN CODAZZI' 'BARRANCA DE UPÍA' 'MANATÍ'
 'SAN JOSÉ DEL GUAVIARE' 'MONTERREY' 'SAN ALBERTO' 'FUNDACIÓN'
 'SAN MARCOS' 'SANTA BÁRBARA DE PINTO' 'PLANETA RICA' 'MISTRATÓ' 'YOPAL'
 'CHINÚ' 'LORICA' 'TÁMARA']

=== Violencia intrafamiliar ===
['SANTANDER' 'HUILA' 'CUNDINAMARCA' 'BOYACÁ' 'ANTIOQUIA' 'VALLE' 'CALDAS'
 'CÓRDOBA' 'ATLÁNTICO' 'NARIÑO' 'BOLÍVAR' 'CESAR' 'SAN ANDRÉS' 'MAGDALENA'
 'TOLIMA' 'CAQUETÁ' 'META' 'SUCRE' 'NORTE DE SANTANDER' 'CAUCA']
['OCAMONTE' 'NEIVA' 'SOACHA' 'DUITAMA' 'SOGAMOSO' 'FREDONIA' 'PITALITO'
 'CARTAGO' 'SALAMINA' 'LA DORADA' 'CALI' 'AYAPEL' 'SOLEDAD' 'GIRÓN'
 'JAMUNDÍ' 'BELLO' 'SABANETA' 'ITAGUI' 'PASTO' 'SANTA ROSA DEL SUR']

In [29]:
for df in [delitos_sex, hurto, violencia]:
    df["FECHA HECHO"] = pd.to_datetime(
        df["FECHA HECHO"],
        dayfirst=True,
        errors="coerce"
    )
print("Delitos sexuales - fechas inválidas:", delitos_sex["FECHA HECHO"].isna().sum())
print("Hurto - fechas inválidas:", hurto["FECHA HECHO"].isna().sum())
print("Violencia intrafamiliar - fechas inválidas:", violencia["FECHA HECHO"].isna().sum())
print(delitos_sex["FECHA HECHO"].head())
print(hurto["FECHA HECHO"].head())
print(violencia["FECHA HECHO"].head())

Delitos sexuales - fechas inválidas: 0
Hurto - fechas inválidas: 0
Violencia intrafamiliar - fechas inválidas: 0
0   2010-02-04
1   2010-02-23
2   2010-02-11
3   2010-10-07
4   2012-05-30
Name: FECHA HECHO, dtype: datetime64[ns]
0   2024-04-28
1   2020-02-18
2   2020-05-02
3   2019-04-05
4   2017-08-07
Name: FECHA HECHO, dtype: datetime64[ns]
0   2016-10-25
1   2016-10-25
2   2015-03-25
3   2015-05-07
4   2015-06-09
Name: FECHA HECHO, dtype: datetime64[ns]

In [7]:
print("Delitos sexuales:")
print(delitos_sex.isnull().sum(), "\n")

print("Hurto:")
print(hurto.isnull().sum(), "\n")

print("Violencia intrafamiliar:")
print(violencia.isnull().sum(), "\n")

Delitos sexuales:
departamento        0
municipio           0
codigo_dane         0
armas_medios        0
fecha_hecho     35446
genero              0
grupo_etario        0
cantidad            0
delito              0
dtype: int64

Hurto:
departamento     0
municipio        0
codigo_dane      0
armas_medios     0
fecha_hecho      0
genero           0
grupo_etario     0
tipo_de_hurto    0
cantidad         0
dtype: int64

Violencia intrafamiliar:
departamento    0
municipio       0
codigo_dane     0
armas_medios    0
fecha_hecho     0
genero          0
grupo_etario    0
cantidad        0
dtype: int64

## inspeccionar las fechas problemáticas en Delitos sexuales

## Verificar la calidad del dataset ya normalizado

In [35]:
delitos_sex[delitos_sex["FECHA HECHO"].isna()].head(20)
delitos_sex["FECHA HECHO"].value_counts().head(20)
delitos_sex["FECHA HECHO"].unique()[:30]

<DatetimeArray>
['2010-02-04 00:00:00', '2010-02-23 00:00:00', '2010-02-11 00:00:00',
 '2010-10-07 00:00:00', '2012-05-30 00:00:00', '2016-02-05 00:00:00',
 '2016-02-12 00:00:00', '2016-02-10 00:00:00', '2016-02-06 00:00:00',
 '2021-03-03 00:00:00', '2021-02-27 00:00:00', '2022-11-22 00:00:00',
 '2022-10-02 00:00:00', '2024-05-29 00:00:00', '2024-06-10 00:00:00',
 '2024-06-07 00:00:00', '2024-06-12 00:00:00', '2021-08-18 00:00:00',
 '2024-11-07 00:00:00', '2012-03-05 00:00:00', '2012-04-02 00:00:00',
 '2012-05-17 00:00:00', '2012-02-27 00:00:00', '2010-04-02 00:00:00',
 '2012-04-04 00:00:00', '2012-06-10 00:00:00', '2012-02-25 00:00:00',
 '2012-06-21 00:00:00', '2010-08-01 00:00:00', '2012-01-10 00:00:00']
Length: 30, dtype: datetime64[ns]

In [33]:
delitos_sex[delitos_sex["FECHA HECHO"].isna()].head(20)

Empty DataFrame
Columns: [DEPARTAMENTO, MUNICIPIO, CODIGO DANE, ARMAS MEDIOS, FECHA HECHO, GENERO, GRUPO ETARIO, CANTIDAD, delito]
Index: []

In [39]:
# Convertimos FECHA HECHO a datetime en los 3 datasets

for df in [delitos_sex, hurto, violencia]:
    df["FECHA HECHO"] = pd.to_datetime(
        df["FECHA HECHO"],
        dayfirst=True,
        errors="coerce"
    )
    
# Creamos la columna estandarizada fecha_hecho    

delitos_sex["fecha_hecho"] = delitos_sex["FECHA HECHO"]
hurto["fecha_hecho"]       = hurto["FECHA HECHO"]
violencia["fecha_hecho"]   = violencia["FECHA HECHO"]

# Verificamos
    
delitos_sex[["FECHA HECHO", "fecha_hecho"]].head()

  FECHA HECHO fecha_hecho
0  2010-02-04  2010-02-04
1  2010-02-23  2010-02-23
2  2010-02-11  2010-02-11
3  2010-10-07  2010-10-07
4  2012-05-30  2012-05-30

In [40]:
## Merge

# Añadir columna fuente a cada dataset
delitos_sex["fuente"] = "delitos_sexuales"
hurto["fuente"]       = "hurto"
violencia["fuente"]   = "violencia_intrafamiliar"

# Unificar en un solo DataFrame
df_total = pd.concat([delitos_sex, hurto, violencia], ignore_index=True)

print("Shape df_total:", df_total.shape)
df_total.head()

Shape df_total: (1042039, 12)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,CANTIDAD,delito,fecha_hecho,fuente,TIPO DE HURTO
0,PUTUMAYO,MOCOA,86001000,NO REPORTADO,2010-02-04,FEMENINO,NO REPORTADO,1,ARTÃCULO 210 A. ACOSO SEXUAL,2010-02-04,delitos_sexuales,NaN
1,CASANARE,AGUAZUL,85010000,NO REPORTADO,2010-02-23,FEMENINO,NO REPORTADO,1,ARTÃCULO 206. ACTO SEXUAL VIOLENTO,2010-02-23,delitos_sexuales,NaN
2,CASANARE,AGUAZUL,85010000,NO REPORTADO,2010-02-11,FEMENINO,NO REPORTADO,1,ARTÃCULO 206. ACTO SEXUAL VIOLENTO,2010-02-11,delitos_sexuales,NaN
3,TOLIMA,IBAGUÉ,73001000,NO REPORTADO,2010-10-07,FEMENINO,NO REPORTADO,1,ARTÃCULO 209. ACTOS SEXUALES CON MENOR DE 14 ...,2010-10-07,delitos_sexuales,NaN
4,QUINDÍO,ARMENIA,63001005,NO REPORTADO,2012-05-30,FEMENINO,NO REPORTADO,1,ARTÃCULO 209. ACTOS SEXUALES CON MENOR DE 14 ...,2012-05-30,delitos_sexuales,NaN

In [41]:
# Asegurar tipo numérico en CANTIDAD
df_total["CANTIDAD"] = pd.to_numeric(df_total["CANTIDAD"], errors="coerce").fillna(0).astype(int)

In [43]:
df_total["anio"] = df_total["fecha_hecho"].dt.year
df_total["mes"]  = df_total["fecha_hecho"].dt.month
df_total["dia"]  = df_total["fecha_hecho"].dt.day
df_total["dia_semana"] = df_total["fecha_hecho"].dt.weekday  # 0=lunes, 6=domingo

df_total[["fecha_hecho", "anio", "mes", "dia", "dia_semana"]].head()

  fecha_hecho  anio  mes  dia  dia_semana
0  2010-02-04  2010    2    4           3
1  2010-02-23  2010    2   23           1
2  2010-02-11  2010    2   11           3
3  2010-10-07  2010   10    7           3
4  2012-05-30  2012    5   30           2

## EDA básico (orientado al modelo OE1)

In [49]:
# Casos por fuente
print("Casos por fuente:")
display(df_total.groupby("fuente")["CANTIDAD"].sum())

# Casos por año
print("Casos por año:")
display(df_total.groupby("anio")["CANTIDAD"].sum())

# Top 10 departamentos
print("Top 10 departamentos con más casos:")
display(
    df_total.groupby("DEPARTAMENTO")["CANTIDAD"]
            .sum()
            .sort_values(ascending=False)
            .head(10)
)

# Top 10 municipios
print("Top 10 municipios con más casos:")
display(
    df_total.groupby("MUNICIPIO")["CANTIDAD"]
            .sum()
            .sort_values(ascending=False)
            .head(10)
)

# Distribución por género
print("Distribución por género:")
display(
    df_total.groupby("GENERO")["CANTIDAD"]
            .sum()
            .sort_values(ascending=False)
)

# Distribución por grupo etario
print("Distribución por grupo etario:")
display(
    df_total.groupby("GRUPO ETARIO")["CANTIDAD"]
            .sum()
            .sort_values(ascending=False)
)

Casos por fuente:

fuente
delitos_sexuales            364908
hurto                        43419
violencia_intrafamiliar    1320154
Name: CANTIDAD, dtype: int32

Casos por año:

anio
2010     31916
2011     37327
2012     46324
2013     47672
2014     63607
2015    100201
2016    124555
2017    134637
2018    141243
2019    158495
2020    152498
2021    165620
2022    142324
2023    149340
2024    168957
2025     63765
Name: CANTIDAD, dtype: int32

Top 10 departamentos con más casos:

DEPARTAMENTO
CUNDINAMARCA    542068
ANTIOQUIA       215856
VALLE           156265
SANTANDER       100050
BOYACÁ           63744
ATLÁNTICO        61708
BOLÍVAR          55228
TOLIMA           52340
META             48588
HUILA            46152
Name: CANTIDAD, dtype: int32

Top 10 municipios con más casos:

MUNICIPIO
BOGOTÁ D.C.      435422
MEDELLÍN         115414
CALI              90213
BARRANQUILLA      34539
CARTAGENA         34094
BUCARAMANGA       31560
VILLAVICENCIO     29929
SOACHA            29142
PASTO             26964
IBAGUÉ            25640
Name: CANTIDAD, dtype: int32

Distribución por género:

GENERO
FEMENINO        1343228
MASCULINO        376169
NO REPORTADO       5825
NO REPORTA          680
Name: CANTIDAD, dtype: int32

Distribución por grupo etario:

GRUPO ETARIO
ADULTOS         1296727
NO REPORTADO     333827
ADOLESCENTES      49429
MENORES           47576
Name: CANTIDAD, dtype: int32

# Filtrar SANTANDER del DataFrame completo

In [50]:
df_santander = df_total[df_total["DEPARTAMENTO"] == "SANTANDER"].copy()
df_santander.head()
df_santander.shape
df_santander["MUNICIPIO"].unique()

array(['CIMITARRA', 'GIRÓN', 'BUCARAMANGA', 'BARRANCABERMEJA',
       'SABANA DE TORRES', 'PIEDECUESTA', 'FLORIDABLANCA', 'SAN GIL',
       'CHARALÁ', 'SOCORRO', 'CALIFORNIA', 'OCAMONTE',
       'SAN VICENTE DE CHUCURÍ', 'LEBRIJA', 'PALMAR', 'JESÚS MARÍA',
       'VALLE DE SAN JOSÉ', 'GUAVATÁ', 'CONFINES', 'COROMORO', 'ALBANIA',
       'LA BELLEZA', 'MÁLAGA', 'CURITÍ', 'PUENTE NACIONAL', 'BARICHARA',
       'MOGOTES', 'BOLÍVAR', 'ONZAGA', 'PUERTO WILCHES', 'BARBOSA',
       'CABRERA', 'VILLANUEVA', 'VÉLEZ', 'TONA', 'OIBA', 'ZAPATOCA',
       'SAN ANDRÉS', 'ENCINO', 'GUADALUPE', 'SURATÁ', 'GUACA',
       'EL CARMEN DE CHUCURÍ', 'GÜEPSA', 'SAN JOAQUÍN', 'PINCHOTE',
       'EL PEÑÓN', 'RIONEGRO', 'GAMBITA', 'BETULIA', 'EL GUACAMAYO',
       'SIMACOTA', 'LOS SANTOS', 'PALMAS DEL SOCORRO', 'CHIMA',
       'CAPITANEJO', 'SANTA HELENA DEL OPÓN', 'CONCEPCIÓN', 'SUAITA',
       'GUAPOTÁ', 'ARATOCA', 'MATANZA', 'CHARTA', 'EL PLAYÓN', 'LA PAZ',
       'GALÁN', 'LANDÁZURI', 'FLORIÁN', 'CEPITÁ', 'CONTRATACIÓN',
       'SAN JOSÉ DE MIRANDA', 'CHIPATÁ', 'CARCASÍ', 'SUCRE', 'CERRITO',
       'HATO', 'ENCISO', 'PUERTO PARRA', 'VETAS', 'MOLAGAVITA',
       'SANTA BÁRBARA', 'MACARAVITA', 'PÁRAMO', 'SAN MIGUEL',
       'SAN BENITO', 'AGUADA', 'JORDÁN'], dtype=object)

In [51]:
# Explicar qué delitos predominan en Santander
df_santander.groupby("fuente")["CANTIDAD"].sum()
df_santander.groupby("anio")["CANTIDAD"].sum()
df_santander.groupby("MUNICIPIO")["CANTIDAD"].sum().sort_values(ascending=False).head(10)
df_santander.groupby("GENERO")["CANTIDAD"].sum()
df_santander.groupby("GRUPO ETARIO")["CANTIDAD"].sum()
if "tipo_de_hurto" in df_santander.columns:
    df_santander.groupby("tipo_de_hurto")["CANTIDAD"].sum().sort_values(ascending=False).head(10)

In [52]:
# DATASET DE RIESGO SOLO PARA SANTANDER
df_riesgo_santander = (
    df_santander
    .groupby(["MUNICIPIO", "anio", "mes", "dia_semana"], as_index=False)
    ["CANTIDAD"].sum()
)
umbral = df_riesgo_santander["CANTIDAD"].quantile(0.75)
df_riesgo_santander["riesgo"] = (df_riesgo_santander["CANTIDAD"] >= umbral).astype(int)

df_santander = df_total[df_total["DEPARTAMENTO"] == "SANTANDER"].copy()
df_santander.shape
df_santander["MUNICIPIO"].unique()

array(['CIMITARRA', 'GIRÓN', 'BUCARAMANGA', 'BARRANCABERMEJA',
       'SABANA DE TORRES', 'PIEDECUESTA', 'FLORIDABLANCA', 'SAN GIL',
       'CHARALÁ', 'SOCORRO', 'CALIFORNIA', 'OCAMONTE',
       'SAN VICENTE DE CHUCURÍ', 'LEBRIJA', 'PALMAR', 'JESÚS MARÍA',
       'VALLE DE SAN JOSÉ', 'GUAVATÁ', 'CONFINES', 'COROMORO', 'ALBANIA',
       'LA BELLEZA', 'MÁLAGA', 'CURITÍ', 'PUENTE NACIONAL', 'BARICHARA',
       'MOGOTES', 'BOLÍVAR', 'ONZAGA', 'PUERTO WILCHES', 'BARBOSA',
       'CABRERA', 'VILLANUEVA', 'VÉLEZ', 'TONA', 'OIBA', 'ZAPATOCA',
       'SAN ANDRÉS', 'ENCINO', 'GUADALUPE', 'SURATÁ', 'GUACA',
       'EL CARMEN DE CHUCURÍ', 'GÜEPSA', 'SAN JOAQUÍN', 'PINCHOTE',
       'EL PEÑÓN', 'RIONEGRO', 'GAMBITA', 'BETULIA', 'EL GUACAMAYO',
       'SIMACOTA', 'LOS SANTOS', 'PALMAS DEL SOCORRO', 'CHIMA',
       'CAPITANEJO', 'SANTA HELENA DEL OPÓN', 'CONCEPCIÓN', 'SUAITA',
       'GUAPOTÁ', 'ARATOCA', 'MATANZA', 'CHARTA', 'EL PLAYÓN', 'LA PAZ',
       'GALÁN', 'LANDÁZURI', 'FLORIÁN', 'CEPITÁ', 'CONTRATACIÓN',
       'SAN JOSÉ DE MIRANDA', 'CHIPATÁ', 'CARCASÍ', 'SUCRE', 'CERRITO',
       'HATO', 'ENCISO', 'PUERTO PARRA', 'VETAS', 'MOLAGAVITA',
       'SANTA BÁRBARA', 'MACARAVITA', 'PÁRAMO', 'SAN MIGUEL',
       'SAN BENITO', 'AGUADA', 'JORDÁN'], dtype=object)

In [55]:
# Verificar que el dataset de riesgo tiene sentido

df_riesgo_santander.head(10)
df_riesgo_santander.shape
df_riesgo_santander["riesgo"].value_counts()


df_riesgo_santander.isna().sum()

MUNICIPIO     0
anio          0
mes           0
dia_semana    0
CANTIDAD      0
riesgo        0
dtype: int64

In [56]:
df_riesgo_santander.to_csv("dataset_riesgo_santander.csv", index=False, encoding="utf-8")

## Modelo Predictivo Árbol de decisión

In [59]:
# Codificación One-Hot para MUNICIPIO
df_model = pd.get_dummies(
    df_riesgo_santander,
    columns=["MUNICIPIO"],
    drop_first=True
)

# Separar variables X e Y
X = df_model.drop(["riesgo", "CANTIDAD"], axis=1)
y = df_model["riesgo"]

# Train-test split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Entrenar modelo baseline

from sklearn.tree import DecisionTreeClassifier

modelo = DecisionTreeClassifier(
    max_depth=8,
    min_samples_leaf=10,
    random_state=42
)

modelo.fit(X_train, y_train)


# Evaluación del modelo

from sklearn.metrics import classification_report, confusion_matrix

pred = modelo.predict(X_test)

print("Matriz de confusión:")
print(confusion_matrix(y_test, pred))

print("\nReporte de clasificación:")
print(classification_report(y_test, pred))

# Importancia de variables

importances = pd.Series(modelo.feature_importances_, index=X.columns)
importances.sort_values(ascending=False).head(15)

Matriz de confusión:
[[3101  156]
 [ 158 1081]]

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.95      0.95      0.95      3257
           1       0.87      0.87      0.87      1239

    accuracy                           0.93      4496
   macro avg       0.91      0.91      0.91      4496
weighted avg       0.93      0.93      0.93      4496

MUNICIPIO_BUCARAMANGA        0.216937
MUNICIPIO_BARRANCABERMEJA    0.215251
MUNICIPIO_FLORIDABLANCA      0.198103
MUNICIPIO_GIRÓN              0.191394
MUNICIPIO_PIEDECUESTA        0.127984
anio                         0.028712
MUNICIPIO_SAN GIL            0.007893
mes                          0.006666
dia_semana                   0.003881
MUNICIPIO_BARBOSA            0.002199
MUNICIPIO_PUERTO WILCHES     0.000982
MUNICIPIO_MOLAGAVITA         0.000000
MUNICIPIO_MÁLAGA             0.000000
MUNICIPIO_PÁRAMO             0.000000
MUNICIPIO_OIBA               0.000000
dtype: float64